<script src="/static/models/models.js"></script>
<div id="student-app">
    <div class="alert alert-danger alert-danger" v-if="error_message">
        [[error_message]]
        <button type="button" class="close" @click="dismissError()">
            <span :aria-hidden="error_message">&times;</span>
        </button>
    </div>
    <div class="m-4" v-if="mode == 'listExams'">
        <h2>Student section</h2>
        <p>Hello dear student from this section you can enroll or pass exams
            you are
            enrolled in.</p>
        <ul class="list-group">
            <li class="list-group-item d-flex"
                v-for="(exam, indexExam) in exams">
                <div class="mr-2">
                    <span class="small font-weight-bolder font-italic">#examId:</span>
                    [[exam.id]]
                </div>
                <div class="flex-fill">[[exam.title]]</div>
                <div>
                    <button class="btn btn-outline-dark"
                            @click="detailsExam(exam)">Details
                    </button>
                </div>
            </li>
            <li class="list-group-item" v-if="loading_data">
                <div class="text-center my-4">
                    <div class="lds-roller">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </li>
        </ul>
        <div v-if="!loading_data" class="my-2">
            <button class="btn btn-outline-success"
                    @click.prevent="promptEnrollToExam()">Enroll to another
                exam...
            </button>
        </div>
    </div>
    <div class="m-4" v-if="mode == 'detailsExam'">
        <div class="mb-5">
            <button @click="listOfExams()" class="btn btn-outline-secondary">
                Back &larr;
            </button>
        </div>
        <h3>[[exam_data.title]] - #examId: [[exam_data.id]]</h3>
        <p v-for="paragraph in exam_data.description.split('\n')">
            [[paragraph]]</p>
        <h5>Exam duration</h5>
        <p>[[convert_to_hhmmss(exam_data.exam_duration)]]</p>
        <h5>Creation date</h5>
        <p>[[exam_data.dt_creation]]</p>
        <h5>Validity date</h5>
        <p>From [[exam_data.from_date]] to [[exam_data.to_date]]
            <span v-if="!exam_data.isAvailable()" class="badge badge-danger">expired</span>
            <span v-if="exam_data.isAvailable()" class="badge badge-success">not expired</span>
        </p>
        <h5>Number of tries</h5>
        <p>[[exam_data.numTriesMessage()]]
            <span v-if="!exam_data.canRetry()" class="badge badge-danger">cannot retry again</span>
            <span v-if="exam_data.canRetry()" class="badge badge-success">available retries</span>
        </p>
        <h5>Teacher</h5>
        <p><img :src="exam_data.teacher.picture"
                :alt="exam_data.teacher.fullname+' picture'"
                style="width: 200px;"></p>
        <p>[[exam_data.teacher.fullname]]</p>
        <div v-if="exam_data.canRetry()"
             class="mt-5 mb-2 p-2 border border-success d-flex">
            <h5 class="text-success p-2 col-2">Take exam</h5>
            <div class="flex-fill p-2">If you're ready to take the exam click
                the following button.
            </div>
            <div class="p-2 col-2">
                <button type="button"
                        class="btn btn-outline-success ml-2 w-100"
                        @click="promptTakeExam(exam_data)"
                        title="Click to take the exam.">
                    Take it...
                </button>
            </div>
        </div>
        <div class="p-2 border border-danger d-flex">
            <h5 class="text-danger p-2 col-2">Danger</h5>
            <div class="flex-fill p-2">You can un-enroll from this course
                definitely. This doesn't affect your historical data and your
                marks will be retained.
            </div>
            <div class="p-2 col-2">
                <button type="button" class="btn btn-outline-danger ml-2 w-100"
                        @click="promptUnEnrollToExam(exam_data)"
                        title="Remove this enroll">
                    <span>&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="m-4" v-if="mode == 'takeExam'">
        <div v-if="loading_data">
            <div class="text-center my-4">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div v-if="!loading_data && exam_try !== null">
            <div class="row my-3 p-2 border">
                <div class="col-4">
                    <strong><em>Remaining time</em></strong>
                    [[exam_try.display_time]]
                </div>
                <div class="flex-fill text-center">
                    <strong><em>Question</em></strong>
                    [[exam_try.questionIndex+1]] /
                    [[exam_try.totalQuestionsCount]]
                </div>
                <div class="col-4 text-right">
                    <strong><em>Exercise</em></strong>
                    [[exam_try.currExerciseIndex+1]] /
                    [[exam_try.exercisesCount]]
                </div>
            </div>
            <div>
                <h2>[[exam_try.title]]</h2>
                <p v-for="paragraph in exam_try.description">
                    [[paragraph]]</p>
                <h3>[[exam_try.currExercise.title]]</h3>
                <p v-for="paragraph in exam_try.currExercise.description">
                    [[paragraph]]</p>
                <h4>[[exam_try.currQuestion.title]]</h4>
                <p v-for="paragraph in exam_try.currQuestion.description">
                    [[paragraph]]</p>
            </div>
            <div>
                <ul class="list-group">
                    <li class="d-flex list-group-item"
                        v-for="(answer, answerIndex) in exam_try.currQuestion.answers">
                        <div v-if="exam_try.currQuestion.multiple_answers"
                             class="mx-2">
                            <input type="checkbox"
                                   :id="'answer_'+answerIndex"
                                   :value="'answer_'+answerIndex"
                                   v-model="exam_try.answers[exam_try.questionIndex]">
                        </div>
                        <div class="flex-fill">
                            <label :for="'answer_'+answerIndex">[[answer.answer]]</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-flex my-3 p-2 border">
                <div>
                    <button v-if="exam_try.questionIndex > 0"
                            @click="prevQuestion()"
                            class="btn btn-outline-primary w-100">Previous
                        Question
                    </button>
                </div>
                <div class="flex-fill text-center">
                    <strong><em>Number of questions:</em></strong>
                    [[exam_try.totalQuestionsCount]] in
                    [[exam_try.exercisesCount]] exercise(s)
                </div>
                <div>
                    <button v-if="exam_try.questionIndex+1 < exam_try.totalQuestionsCount"
                            @click="nextQuestion()"
                            class="btn btn-outline-primary w-100">Next Question
                    </button>
                    <button v-if="exam_try.questionIndex+1 == exam_try.totalQuestionsCount"
                            class="btn btn-outline-danger w-100"
                            @click="promptTerminateExam()">Terminate
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const studentApp = new Vue({
        el: '#student-app',
        delimiters: ['[[', ']]'],
        data: {
            exams: [],
            loading_data: false,
            mode: null,
            error_message: null,
            exam_data: null,
            exam_try: null
        },
        mounted: function () {
            this.$nextTick(function () {
                this.listExams();
            })
        },
        methods: {
            convert_to_hhmmss: function (duration) {
                return convert_to_hhmmss(duration);
            },
            listExams: function () {
                this.loading_data = true;
                this.exams = [];
                this.mode = 'listExams';
                fetchFromServer(`/enrolls`, 'GET')
                    .then(response => response.json())
                    .then(data => {
                        this.loading_data = false;
                        if (!data['success']) {
                            throw new Error(data['Description']);
                        }
                        this.exams = data['exams'];//.map(exam => new Exam(exam));
                    })
                    .catch(error => {
                        this.error_message = error;
                        this.loading_data = false;
                    });
            },
            enrollToExam: function (examId) {
                this.loading_data = true;
                fetchFromServer(`/enrolls/${examId}`, 'POST', `[]`)
                    .then(response => response.json())
                    .then(data => {
                        this.loading_data = false;
                        if (!data['success']) {
                            throw new Error(data['description']);
                        }
                        return data;
                    })
                    .then(data => {
                        if (data['new_enrolls'] > 0) {
                            this.listExams();
                        } else if (data['new_enrolls'] === 0) {
                            throw new Error('You are already enrolled to this exam.');
                        }
                    })
                    .catch(error => {
                        this.error_message = error;
                        this.loading_data = false;
                    });
            },
            promptEnrollToExam: function () {
                let examId = prompt('Please enter the exam id:');
                if (!examId) {
                    alert('No examId provided.');
                    return;
                }
                examId = +examId;
                if (!isNaN(examId)) {
                    this.enrollToExam(examId);
                }
            },
            unEnrollToExam: function (exam) {
                this.loading_data = true;
                fetchFromServer(`/enrolls/${exam.id}`, 'DELETE', `[]`)
                    .then(response => response.json())
                    .then(data => {
                        this.loading_data = false;
                        if (!data['success']) {
                            throw new Error(data['description']);
                        }
                        return data;
                    })
                    .then(data => {
                        if (data['deleted_enrolls'] > 0) {
                            this.listExams();
                        } else if (data['deleted_enrolls'] === 0) {
                            throw new Error('You are not enrolled to this exam.');
                        }
                    })
                    .catch(error => {
                        this.error_message = error;
                        this.loading_data = false;
                    });
            },
            promptUnEnrollToExam: function (exam) {
                if (!confirm('Are you sure you want to un enroll from this exam?')) {
                    return;
                }
                this.unEnrollToExam(exam);
            },
            detailsExam: function (exam) {
                this.exam_data = new Exam(exam);
                this.mode = 'detailsExam';
            },
            listOfExams: function () {
                this.mode = 'listExams';
            },
            dismissError: function () {
                this.error_message = null;
            },
            promptTakeExam: function (exam) {
                if (!confirm('Are you sure you want to start the exam?')) {
                    return;
                }
                this.takeExam(exam.id);
            },
            takeExam: function (exam_id) {
                this.mode = 'takeExam';
                this.exam_try = null;
                this.loading_data = true;
                fetchFromServer(`/tries/${exam_id}`, 'POST')
                    .then(response => response.json())
                    .then(data => {
                        this.loading_data = false;
                        if (!data['success']) {
                            throw new Error(data['description']);
                        }
                        return data;
                    })
                    .then(data => {
                        this.exam_try = new ExamTry(data['exam'], data['try']);
                        this.exam_try.start();
                    })
                    .catch(error => {
                        this.error_message = error;
                        this.listExams();
                        this.loading_data = false;
                    });
            },
            saveAnswers: function (exam_try, current_state) {
                this.loading_data = true;
                if (!current_state) {
                    current_state = 3; // SAVE
                }
                fetchFromServer(`/tries/${exam_try.id}`, 'PATCH',
                    JSON.stringify({
                        exam_id: exam_try.exam_id,
                        teacher_id: exam_try.teacher_id,
                        current_state: current_state,
                        answers: exam_try.answers
                    }))
                    .then(response => response.json())
                    .then(data => {
                        this.loading_data = false;
                        if (!data['success']) {
                            throw new Error(data['description']);
                        }
                        return data;
                    })
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        this.error_message = error;
                        this.loading_data = false;
                    });
            },
            nextQuestion: function () {
                this.saveAnswers(this.exam_try);
                this.exam_try.nextQuestion();
            },
            prevQuestion: function () {
                this.saveAnswers(this.exam_try);
                this.exam_try.prevQuestion();
            },
            promptTerminateExam: function () {
                if (!confirm('Are you sure you want to terminate the exam!\nYou will not be able to resume it nor modify your answers anymore.')) {
                    return;
                }
                this.saveAnswers(this.exam_try, 1); // completed
                this.listExams();
            }
        }
    });
</script>